.footer{
    padding: 3rem;
    width: 100%;
    background-color:$black;
    font-family: $ubuntu;
    height: 60px;
    box-sizing: border-box;
    justify-content: space-around;
    clear: both;
    &__copyright{
        color: $white;
        &:hover{
            color: $tangerine;
        }
    }
    &__list{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-between;
    }
    &__item{
        font-size: $small;
        margin: 0 20px;
        a{
            text-decoration: none;
            color: white;
            &:hover{
                color: $tangerine;
            }
        }
    }
    &__form{
        display: flex;
        justify-content: flex-end;
    }
}
