button{
    border-radius:3px;
    font-size: $medium;
    background-color: $tangerine;
    color: $black;
    border-color: $white;
    font-family: $ubuntu;
}
input{
    border-radius:3px;
    font-size: $medium;
    color: $black;
    border-color: $white;
    font-family: $ubuntu;

}